# Temporary files
*.000
*.bak
*.bck
*-backups
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro

## Build auxiliary files:
*.o
*.bin

# Misc other files
.DS_Store
.vscode
*.lst
*.old
*.pap
*.lib
*.zip
*.gz

